<form action="">
	<input  type="text" id="text1" name="name" [(ngModel)]="test">
	<input  type="text" id="text" name="name">
	<input type="checkbox" id="checkbox1" name="a" value=" "  >
	<input type="checkbox" id="checkbox2" name="a" value=" "  >

  <div>
	<input type="radio" id="button1" value="email" name="choose">
  <input type="radio" id="button2" value="phone" name="choose">
  </div>

	<select name="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="fiat">Fiat</option>
    <option value="audi">Audi</option>
  </select>
  <br><br>


	<select name="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="fiat">Fiat</option>
    <option value="audi">Audi</option>
  </select>
  <br><br>
  <button type="submit" (click)="showTest()">Send</button>
</form>
<ul>
  <li *ngFor="let x of res">{{x.name}} + Eye color:{{x.eyeColor}}</li>
</ul>

